@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
    // ++Model.wartosc;
    //Model.Konto = 145;
    Model.Wartosc = 45;
}

<div class="text-center">
    <h1 class="display-4">Strona główna sklepu</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<span style="display:block;">To jest tekst.</span>
<span>A to kolejny</span>
<p style="display: inline;">To jest tekst w paragrafie</p>
<p>A to kolejny</p>
@Model.DodajTekst()

<p>A to kolejny @Model.Basket.ID</p>
<p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny @Model.Konto</p>
<p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny</p>

<p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny</p><p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny</p><p>A to kolejny</p>
<p>A to kolejny</p><p>A to kolejny</p>
<p>A to kolejny</p>
<p>A to kolejny</p>
<p id="do_mnie">A to kolejny</p>
<p>A to kolejny</p><p>A to kolejny</p>